* {
    box-sizing: border-box;
  }

.OrderContainer {
    /* margin-bottom: 6px; */
    height: 85%;
}

.OrderHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.OrderHeading {
    margin: 0;
}

.OrderContents {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 32px;
    min-height: 450px;
    height: 90%;
}

.Cross {
    font-weight: bolder;
    cursor: pointer;
    margin-right: 2px;
    font-size: 18px;
}


.MaterialImg {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    max-height: 350.86px;
    /* margin: 16px 16px 0 16px; */
    /* left: 16px; */
    /* right: 16px; */
    /* top: 16px; */

    /* border-radius: 0px; */
}

