* {
    box-sizing: border-box;
}
.DesignsCtr {
    background: #FFFFFF;
/* Gray 5 */

    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    max-width: 100%;
    height: 300px;
    overflow: scroll;
    padding: 4px 12px;
}

.DesignItem {
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

.DesignImg {
    height: 40px;
    width: 40px;
}
.DesignHead {
    margin: 0 5px 5px;
}
.DesignId {
    margin: 5px;
}

.left-arrow {
    padding: 0 6px 0 0;
    margin-right: 6px;
    cursor: pointer;
    font-size: 16px;
}

.error_outline {
    color: #0067E2;
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 100%;
    margin-right: 6px;
    font-size: 20px;
}

form > span {
    height: 20px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #000126;
}

input {
    width: 100%;
    border-radius: 2px;
    height: 30px;
    padding: 2px 8px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    border: 1px solid #93939F;

    /* Grey 3 */

    color: #000126;
}

.FormLabel {
    display: block;
    margin: 16px 0 4px 0;
    /* height: 20px; */

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Gray 1 */
    color: #333340;
}
select {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.0001);
    padding: 2px 6px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;

    /* Black */
    color: #000126;
}

.Ctas {
    /* display: inline-block; */
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    bottom: 12px;
    right: 25px;
    /* justify-content: space-between; */
    /* float: right; */
}

.cta-btn {
    padding: 10px 12px;
    margin: 6px;
    cursor: pointer;
    height: 40px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.6s;
}

.cta-btn:hover {
    background: #000126;
    color: white;
}

.BackBtn {
    width: 71px;
    /* White */
    background: #FFFFFF;
    /* Gray 4 */
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    /* identical to box height, or 143% */
    text-transform: uppercase;
    /* Black */
    color: #000126;
}
.NextBtn {
    /* Gray 4 */
    text-transform: uppercase;
    color: #FFFFFF; 
    background: #0067E2;
    border-radius: 4px;
    border: none;
}
.NextBtn:disabled {
    background: #D4D4D4;
    cursor: not-allowed;
}

.Inventory-ctr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
}
.Inventory {
    display: grid;
    grid-template-columns: auto;
}
/* .Inventory-ctr > label, .Inventory-ctr > input{
    display: inline;
    width: 50%;
} */

.Summary > ul {
    list-style: none;
    padding: 0;
}
.Summary > h4 {
    display: inline-flex;
    align-items: center;
    margin: 12px 0;
    /* height: 44px; */
    width: 100%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding-left: 12px;
    padding-right: 6px;
    /* identical to box height, or 143% */
    /* Black */
    color: #000126;
    background: #FFFEE6;
    border: 1px solid rgba(0, 1, 38, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}
.Summary  label {
    /* position: absolute; */
    height: 20px;
    margin: 16px 0 2px 0;
    display: block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Gray 2 */

    color: #676773 !important; 
}
.Summary li span {
    /* position: absolute; */
    height: 24px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Black */

    color: #000126;
}

@media (max-width: 700px) {
    .Ctas {
        bottom: unset;
        margin-top: 10px;
        margin-bottom: 8px;
        right: 16px;
        /* min-height: 450px;
        height: 90%; */
    }
    
}